@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Geist:wght@100..900&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 24px;
}

body {
    background-color: rgb(245, 245, 245);
    font-family: 'Manrope', sans-serif;
}

.display {
    background-color: rgb(250, 250, 250);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px;
}

.idk {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-photo {
    width: 20%;
}

.pfp {
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-range {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username {
    font-family: 'Geist', serif;
    font-weight: bolder;
    font-size: 2rem;
    color: rgb(38, 38, 38);
}

.fav-album {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.user-playlists {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 8px;
    overflow: hidden;
}
.card img {
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
}
.square-image {
    border-radius: 8px;
    /* width: 100%;
    height: auto; */
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.square-image img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.col-left {
    width: 25%;
    display: flex;
    flex-direction: column;
}
.col-right {
    width: 65%;
}

.title-large {
    font-family: 'Geist', serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: none;
}

.title-small {
    font-size: 0.75em;
    font-family: 'Manrope', sans-serif;
}

.description-text {
    font-size: 0.6em;
    line-height: 1em;
    font-family: 'Manrope', sans-serif;
}

.numbers {
    font-size: 0.55em;
    color: rgb(115, 115, 115);
}

.button-large {
    margin: 4px;
    width: 50%;
    font-family: 'Geist', serif;
    font-size: 1em;
    font-weight: bold;
    color: rgb(38, 38, 38);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 214, 82);
    border-radius: 24px;

}

.button-large img {
    display: block;
    overflow: hidden;
    height: 50%;
    max-height: 50%;
    width: auto;
}

.about-me-input {
    width: 100%;
}

.about-me-input textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.select-album {
    background-color: rgb(212, 212, 212);
}

.modal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/*
FAFAFA 250 250 250
F5F5F5 245 245 245
E5E5E5 229 229 229
D4D4D4 212 212 212
A3A3A3 163 163 163
737373 115 115 115
525252 82 82 82 
404040 64 64 64
262626 38 38 38
171717 23 23 23
93d652 147 214 82
*/