@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Geist:wght@100..900&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
html{
    scroll-behavior: smooth;
    font-size: 24px;
}
body{
    background-color: rgb(240, 241, 246);
    font-family: 'Manrope', sans-serif;
}
.idk-how-to-name-it{
    background-color: rgb(251, 251, 253);
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
}
#profile {
    /* background-color: rgb(251, 251, 253);
    box-shadow: 0 0 20px rgb(179,180,185); */
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
}
#pfp {
    width: 128px;
    border-radius: 50%;
    overflow: hidden;
    margin: 16px 8px;
}
#username {
    font-family: 'Geist', serif;
    font-weight: bolder;
    font-size: 2rem;
    color : rgb(28, 28, 30);
}
#follow {
    font-size: 0.55em;
    color: rgb(110, 110, 115);
}
#fav-album{
    background-color: pink;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#fav-album img{
    max-width: inherit;
    width: inherit;
    border-radius: 8px;
    overflow: hidden;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ig-icon{
    width: 24px;
    height: 24px;
}
.profile-info {
    display: flex;
    flex-direction: column;
    margin: 16px 0px;
}
.item img {
    /*max-width: inherit;*/
    width: 81px;
    border-radius: 8px;
    overflow: hidden;
}
.item {
    background-color: rgba(127, 255, 212, 0.5);
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 8px;
    
}
.list-items{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: auto auto auto;
}
.col-left{
    width: 25%;
}
.col-right{
    width: 65%;
}
.titleLarge{
    font-family: 'Geist', serif;
    font-size: 1.2em;
}
.titleSmall{
    font-size: 0.75em;
    font-family: 'Manrope', sans-serif;
}
.descriptionText{
    font-size: 0.6em;
    line-height: 1em;
    font-family: 'Manrope', sans-serif;
}
