@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Geist:wght@100..900&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
html{
    scroll-behavior: smooth;
    font-size: 24px;
}
body{
    background-color: rgb(240, 241, 246);
    font-family: 'Manrope', sans-serif;
}
.display{
    background-color: rgb(251, 251, 253);
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
}
#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px;
}
.idk{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-photo{
    width: 20%;
}
.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.time-range{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#pfp {
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
#username {
    font-family: 'Geist', serif;
    font-weight: bolder;
    font-size: 2rem;
    color : rgb(28, 28, 30);
}
#fav-album{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#user-playlists{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.grid-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 8px;
}
.card img {
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.col-left{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.col-right{
    width: 65%;
}
.title-large{
    font-family: 'Geist', serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: none;
}
.title-small{
    font-size: 0.75em;
    font-family: 'Manrope', sans-serif;
}
.description-text{
    font-size: 0.6em;
    line-height: 1em;
    font-family: 'Manrope', sans-serif;
}
.numbers {
    font-size: 0.55em;
    color: rgb(110, 110, 115);
}