{% extends './layout.html' %}
{% block title %}Spotify CV{% endblock %}

{% block body %}
<div class="idk-how-to-name-it">
    {% if data %}
    {% if data.user %}
        <div id="profile">
            <div class="">
                <img id="pfp" src="{{data.user.image}}">
            </div>
            <div class="profile-info">
                <span id="username">{{data.user.username}}</span>
                <span class="numbers">{{data.user.followers}} followers</span>
                <span class="numbers">{{data.user.following}} following</span>
            </div>
        </div>
    {% endif %}
    <div class="content">
        <div class="col-left">
            <div id="about-me">
                <h1 class="title-large">About me</h1>
                <p class="description-text">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, eos alias. Voluptatem
                    inventoredolor ex numquam qui, quo, ducimus reiciendis tempore ut provident perspiciatis perferendis
                    recusandae voluptatibus doloribus eum fugit?</span>
                </p>
            </div>
            <div id="fav-album">
                <h1 class="title-large">Favorite Album</h1>
                <div class="card">
                    <img src="https://i.pinimg.com/736x/d3/f1/8c/d3f18c4f622f69f65bc162db89e658e5.jpg">
                    <span class="title-small">Album Name - Artist Name</span><span class="numbers">[año]</span> 
                </div>
            </div>
        </div>
        <div class="col-right">
            <div id="user-playlists">
                <h1 class="title-large">My Playlists</h1>
                <div class="grid-cards">
                    {% for playlist in data.playlists %}
                    <div class="card">
                        <img src="{{playlist.image}}">
                        <span class="title-small">{{playlist.name}}</span>
                        <span class="numbers">[{{playlist.tracks}}]</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="user-top-artists">
                <h1 class="title-large">Top Artists</h1>
                <div class="grid-cards">
                    {% for artist in data.artists %}
                    <div class="card">
                        <img src="{{artist.image}}">
                        <span class="title-small">{{artist.name}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="user-top-traks">
                <h1 class="title-large">Top Tracks</h1>
                <div class="grid-cards">
                    {% for track in data.tracks %}
                    <div class="card">
                        <img src="{{track.image}}">
                        <span class="title-small">{{track.name}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    {% endif %}
</div>
{% endblock %}