{% extends './layout.html' %}
{% block title %}Spotify CV{% endblock %}

{% block body %}
<div class="idk-how-to-name-it">
    {% if data %}
    {% if data.user %}
        <div id="profile">
            <div class="">
                <img id="pfp" src="{{data.user.image}}">
            </div>
            <div class="profile-info">
                <span id="username">{{data.user.username}}</span>
                <span id="follow">{{data.user.followers}} followers</span>
                <span id="follow">{{data.user.following}} following</span>
            </div>
        </div>
    {% endif %}
    <div class="content">
        <div class="col-left">
            <div id="about-me">
                <h1 class="titleLarge">About me</h1>
                <p class="descriptionText">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, eos alias. Voluptatem
                    inventoredolor ex numquam qui, quo, ducimus reiciendis tempore ut provident perspiciatis perferendis
                    recusandae voluptatibus doloribus eum fugit?</span>
                </p>
            </div>
            <div id="fav-album">
                <h1 class="titleLarge">Favorite Album</h1>
                <img src="https://i.pinimg.com/736x/d3/f1/8c/d3f18c4f622f69f65bc162db89e658e5.jpg">
            </div>
        </div>
        <div class="col-right">
            <div id="user-playlists">
                <h1 class="titleLarge">My Playlists</h1>
                {% for playlist in data.playlists %}
                <div class="">
                    <span class="titleSmall">{{playlist.name}} - {{playlist.tracks}}</span> 
                    <!--- <img src="{{playlist.image}}"> --->
                </div>
                {% endfor %}
            </div>
            <div id="user-top-artists">
                <h1 class="titleLarge">Top Artists</h1>
                <div class="list-items">
                    {% for artist in data.artists %}
                    <div class="item">
                        <img src="{{artist.image}}">
                        <span class="">{{artist.name}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="user-top-traks">
                <h1 class="titleLarge">Top Tracks</h1>
                <div class="list-items">
                    {% for track in data.tracks %}
                    <div class="item">
                        <img src="{{track.image}}">
                        <span class="">{{track.name}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    {% endif %}
</div>
{% endblock %}